<!doctype html>
<html ng-app="app">

<head>
    <title>Angular Lab 1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <main>
        <div class="container" ng-controller="FormController as form">
            <p class="heading">TODO List</p>
            <p>A place to store the things you need to do!</p>
            <input type="text" ng-model="todoFilter" placeholder="  Filter your to-dos">
            <ol>
                <li ng-repeat="item in form.items | filter: todoFilter track by $index">
                    {{ item.item }}
                    <button class="xout" ng-click="form.removeInfo(item)">x</button>
                </li>
            </ol>

            <input id="addInput" type="text" ng-model="todoAdd" placeholder="  Add to your to-do">
            <button class="saveButton" ng-click="form.updateInfo(todoAdd)">Add</button>

        </div>
    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
</body>

</html>